services:
  main:
    build: .
    ports:
      - '3001:3000'
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: ${PORT}
      ALLOWED_CROSS_ORIGIN: ${ALLOWED_CROSS_ORIGIN}
      ACCESS_TOKEN: ${ACCESS_TOKEN}
    volumes:
      - .:/app
      - /app/node_modules
      - /app/dist
    deploy:
      replicas: 1
    command: npm run start:dev
